




{{ $css_base_dev_stuff := "css/base_dev_stuff.css" | absURL }}
<link rel="stylesheet" href="{{ $css_base_dev_stuff }}">
{{ $css_base_layout := "css/base_layout.css" | absURL }}
<link rel="stylesheet" href="{{ $css_base_layout }}">
<!-- { { $css_base_typography := "css/base_typography.css" | absURL }}
<link rel="stylesheet" href="{ { $css_base_typography }}"> -->
{{ $css_base_images := "css/base_images.css" | absURL }}
<link rel="stylesheet" href="{{ $css_base_images }}">

{{ $css_top_bar_global_nav := "css/top_bar_global_nav.css" | absURL }}
<link rel="stylesheet" href="{{ $css_top_bar_global_nav }}">
{{ $css_top_bar_local_nav := "css/top_bar_local_nav.css" | absURL }}
<link rel="stylesheet" href="{{ $css_top_bar_local_nav }}">



<!-- NOTE OLD sTUFF to replace below -->
  <!-- { { $css_base := "css/base.css" | absURL }}
  <link rel="stylesheet" href="{ { $css_base }}"> -->





  <!-- { { $css_hidden_nav := "css/navigation/hidden_nav_top_bar.css" | absURL }}
  <link rel="stylesheet" href="{ { $css_hidden_nav }}"> -->

  <!-- { { $css_local_nav := "css/navigation/local_nav_top_bar.css" | absURL }}
  <link rel="stylesheet" href="{ { $css_local_nav }}"> -->

  <!-- { {  $css_local_aside_nav := "css/navigation/local_aside_nav.css" | absURL }}
  <link rel="stylesheet" href="{ { $css_local_aside_nav }}"> -->

<!-- Typography -->
<link rel="stylesheet" href="https://use.typekit.net/rof4vpx.css">
