{{ $js_jquery := "js/jquery.js" | absURL }}
<script src="{{ $js_jquery }}"></script>

{{ $js_global_nav_hide := "js/global_nav_top_bar_hide.js" | absURL }}
<script src="{{ $js_global_nav_hide }}"></script>

{{ $js_global_nav_toggle := "js/global_nav_top_bar_toggle.js" | absURL }}
<script src="{{ $js_global_nav_toggle }}"></script>

{{ $js_local_nav_expand := "js/local_nav_top_bar_expand.js" | absURL }}
<script src="{{ $js_local_nav_expand }}"></script>


<!-- NOTE OLD sTUFF to replace below -->
