{{- define "label_page_layout" }}
<div class="label__page-layout">Page Layout: thought/single.html</div>
{{- end }}



{{- define "header_page_specific" }}
  {{- partial "feature_image.html" . -}}
{{- end }}



{{- define "main_page_specific" }}
<article class="post-container">
  <header class="post-container__header">

    {{ partial "title_subtitle.html" . }}

    <ul class="metadata">
      {{- partial "content_type.html" . -}}
      {{- partial "category.html" . -}}
      {{- partial "date_published.html" . -}}
      {{- partial "date_modified.html" . -}}
      {{- partial "author.html" . -}}
      {{- partial "read_time.html" . -}}
      {{- partial "series" . -}}
    </ul>

    {{/* <!-- TODO Add the reader "Notice:" from the frontmatter. Make it a partial. --> */}}

  </header>

  <section class="post-container__main">
    {{ .Content }}
  </section>

  <footer class="post-container__footer">
    <ul class="metadata">
      {{ partial "tags.html" . }}
      {{ partial "character_count.html" . }}
      {{ partial "word_count.html" . }}
    </ul>
  </footer>
</article>
{{- end }}



{{- define "aside_left_section_wide" }}
<ul>
  <li>Section link</li>
  <li>Section link</li>
  <li>Section link</li>
</ul>
{{- end }}



{{- define "aside_right_section_wide" }}
  <ul>
    <li>Share link</li>
    <li>Share link</li>
    <li>Share link</li>
  </ul>
{{- end }}



{{- define "footer_page_specific" }}
  {{- partial "prev_next" . -}}
{{- end }}
