{{ define "main" }}
<div class="page-label">
  <span>Layout:&nbsp;/index/</span>
</div>

<h1 class="hidden-page-title">{{ .Title }}</h1>

<h2>Main defined.</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna cursus eget nunc scelerisque. Ultrices tincidunt arcu non sodales neque. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Pharetra convallis posuere morbi leo urna molestie. Diam vulputate ut pharetra sit amet aliquam id diam. Viverra nam libero justo laoreet sit amet cursus. Nunc sed augue lacus viverra vitae congue. Yo!
</p>
{{ end }}


{{ define "aside" }}
<h2>Aside defined.</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna cursus eget nunc scelerisque. Ultrices tincidunt arcu non sodales neque. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Pharetra convallis posuere morbi leo urna molestie. Diam vulputate ut pharetra sit amet aliquam id diam. Viverra nam libero justo laoreet sit amet cursus. Nunc sed augue lacus viverra vitae congue.
</p>
{{ end }}


{{ define "footer" }}
<h2>Footer defined.</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna cursus eget nunc scelerisque. Ultrices tincidunt arcu non sodales neque. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Pharetra convallis posuere morbi leo urna molestie. Diam vulputate ut pharetra sit amet aliquam id diam. Viverra nam libero justo laoreet sit amet cursus. Nunc sed augue lacus viverra vitae congue.
</p>
{{ end }}
