<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  {{- block "head" . }}
    {{- partial "head.html" . -}}
    {{ $css_portfolio := "/css/portfolio.css" | absURL }}
    <link rel="stylesheet" href="/css/portfolio.css" />
  {{- end }}

  <body>

    <nav id="topBarContainerHide" class="nav-top-bar nav-top-container">
      {{- partial "navigation/nav-top-primary.html" . -}}
      {{- partial "navigation/navigation-local.html" . -}}
    </nav>

    <header>
      {{- block "header" . }}
        {{- partial "header-content-local.html" . -}}
      {{- end }}
    </header>

    <div class="main-aside-container">
      <main class="main-content-container">
      {{- block "main" . }}{{- end }}
      </main>
    </div>
    
    <footer class="footer-content-container">
    {{- block "footer" . }}{{- end }}
    </footer>

    {{- block "scripts" . }}

      {{/* <!-- TODO Turn the base js into a partial with a condition that loads JQuery if not present somewhere. --> */}}
      {{ $js_jquery := "js/jquery.js" | absURL }}
      <script src="{{ $js_jquery }}"></script>

      {{ $js_nav_prime_hide := "js/nav_prime_hide.js" | absURL }}<!-- Requires JQuery -->
      <script src="{{ $js_nav_prime_hide }}"></script>

      {{ $js_navbar_menu_toggle := "js/navbar_menu_toggle.js" | absURL }}
      <script src="{{ $js_navbar_menu_toggle }}"></script>

      {{ $js_navbar_local := "js/navbar-local.js" | absURL }}
      <script src="{{ $js_navbar_local }}"></script>

      <!-- NOTE Use if jquery.stickybits.js isn't loaded before the stickybit.js loads -->
      {{ $js_jquery_stickybits := "js/jquery.stickybits.js" | absURL }}
      <script src="{{ $js_jquery_stickybits }}"></script>

      {{ $js_stickybits := "js/stickybits.js" | absURL }}
      <script src="{{ $js_stickybits }}"></script>

      {{- partial "netlify-cms-login-portal.html" . -}}

    {{- end -}}

  </body>
</html>
