<div class="navbar-secondary frosted-glass-light frosted-glass-dark">

  <button class="navbarSecondaryExpand"><a href="/article/">Articles</a></button>
    <div class="navbar-secondary-content">


        <div class="menu-mobile">
          <div class="local-nav-title">
          Title Here
        </div>
<!-- TODO Adds a search fields to this menu when opened in some places -->
<!-- TODO Have a FAQ and Questions Answered page like garyvee -->
        <!-- TODO make the menu items reference local information that is page specific. -->
        {{ $currentPage := . }}
        {{ if .Site.Menus.nav_local_article }}
        <ul class="menu">
          {{ range .Site.Menus.nav_local_article }}
          <li class="menu-item">
            <a class="{{if or ($currentPage.IsMenuCurrent "nav_local_article " .) ($currentPage.HasMenuCurrent "nav_local_article" .) }} menu-item-active{{end}}" href="{{ .URL }}" title="{{ .Title }}">
              {{- .Name -}}
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }}




    </div><!-- end navbar-secondary-content -->

</div><!-- end navbar-secondary -->
