/* Document
   ========================================================================== */
html {
  position: relative;
  color: rgba(34, 40, 49, 1.0);
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  /* TODO Add a few more backup fonts to load and test them with a live demo to make sure the not bad */
  font-size: 1.0625rem;
  font-size: 16px;
  background-color: #fff;
  /* NOTE Below adds anti-alising, clears up the type for readibility */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  quotes: "“""”";
}

body, input, textarea, select, button {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}

body {
  font-family: 'Ubuntu', sans-serif;
  /* font-size: 1.0625rem; */
  /* font-weight: normal; */
  letter-spacing: -.022em;
  line-height: 1.47059;
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr, button {
  margin: 0;
  padding: 0;
}

h1+*, h2+*, h3+*, h4+*, h5+*, h6+* {
  margin-top: .8em;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(34, 40, 49, 1.0);
  color: #333;
}

p {
  max-width: 512px;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
}

.hidden-page-title {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.local-nav-title {
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: .011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  cursor: default;
  display: block;
  float: left;
  margin: 14px 0 -14px;
  padding: 0;
  height: 50px;
  white-space: nowrap;
}

/* Global Post Styles
   ========================================================================== */
.post-masthead {
  padding: 0 0 1rem 0;
}

.post-hero-headline {
  padding: 0 1rem;
  /* margin: 0 auto; */
  margin: 0.4rem auto;
  max-width: 512px;
  font-size: 30px;
  font-size: 20px;
  line-height: 1.13353;
  font-weight: 700;
  letter-spacing: .006em;
  font-family: 'Ubuntu', sans-serif;
}

.post-body-copy h1, .post-body-copy h2, .post-body-copy h3 {
  max-width: 512px;
  padding: 0 1rem 0rem 1rem;
  margin: 2.176471rem auto 1.176471rem auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .012em;
  line-height: 1.21053;
}

.post-body-copy h2 {
  font-size: 20px;
}

.post-body-copy h3 {
  font-size: 18px;
}

.post-body-copy {
  margin: 0 0 1rem 0;
}

.post-body-copy ul {
  padding: 0 0 0 2rem;
  margin: 0 auto 1rem auto;
  max-width: 512px;
}

.post-masthead .meta-top-a,
.post-masthead .meta-top-b {
  padding: 0 1rem;
  margin: 0 auto;
  /* font-size: 0.88rem; */
  font-size: 12px;
  line-height: 1.6;
  text-transform: capitalize;
  list-style-type: none;
  max-width: 512px;
}

.post-masthead .meta-top-a span,
.post-masthead .meta-top-b span {
  font-weight: 700;
}

.post-word-char-count {
  margin: 0 auto 4rem auto;
  max-width: 512px;
}

.post-word-char-count span {
  font-weight: 700;
}

.post-word-char-count ul {
  padding: 0 1rem;
  margin: 0 auto;
  /* font-size: 0.88rem; */
  line-height: 1.6;
  text-transform: capitalize;
  list-style-type: none;
}

/* NOTE Not Used Sunday =========================================================================================================== */
/* Section Specific - Everydays
   ========================================================================== */
.sc-article-post {}

/* Section Specific - Article
   ========================================================================== */
.sc-article-post {}

/* Section Specific - Journal
   ========================================================================== */
.sc-journal-post .post-body-copy h1:first-of-type,
.sc-journal-post .post-body-copy h2:first-of-type,
.sc-journal-post .post-body-copy h3:first-of-type {
  margin-top: 0.5rem;
}

/* Section Specific - Link
   ========================================================================== */
.pg-link-list .post-header {
  margin: 0 0 1rem 0;
}

.pg-link-list {
  background: red;
}

/* .pg-link-list .group-by-day .post-header > div {
     display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1rem 0 0;
   }
   .pg-link-list .post-hero-headline {
     margin: 0.4rem 0;
   }
   .pg-link-list .permalink-dot div {
      display: block;
     height: 12px;
    width: 12px;
    margin: 0 2rem;
    background-color: transparent;
    border: solid rgba(71, 153, 226, 1.0);
    border-radius: 50%;

   }
   .pg-link-list .permalink-dot div:hover {
    background-color: rgba(71, 153, 226, 1.0);
   }
   .pg-link-list .permalink-dot:hover, .permalink-dot:active {
       color: rgba(71, 153, 226, 1.0);
       border-bottom: 2px solid transparent;
     }
   .pg-link-list .group-day .spacer-dot:last-child {
     display: none;
   }
.publish-date-day {
  max-width:512px;
  padding: 0 1rem;
  margin: 0 auto;
}
.pg-link-list .post-header div {
  max-width: 512px;
  margin:0 auto;
} */
.group-by-day {
  /* list-style-type: none; */
}

/* Section Specific - Everydays
   ========================================================================== */
.gallery-round-title div {
  max-width: 512px;
  /* text-align: center; */
}

.gallery-round-title h1 {
  font-size: 3.6rem;
  padding: 0 1rem;
  /* text-align: center; */
}

/* TODO Rem and em everything! */
@media only screen and (min-width: 768px) {
  html {
    font-size: 21px;
  }

  .post-hero-headline,
  .post-body-copy h1, .post-body-copy h2, .post-body-copy h3,
  .post-masthead .meta-top-a,
  .post-masthead .meta-top-b,
  .post-body-copy p,
  .post-body-copy ul,
  .post-word-char-count,
  .sc-journal-post .post-prev-next,
  .publish-date-day,
  .pg-link-list .post-header div {
    max-width: 618px
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 21px;
  }

  .post-hero-headline {
    font-size: 32px;
  }

  .post-body-copy h1 {
    font-size: 28px;
  }

  .post-body-copy h2 {
    font-size: 26px;
  }

  .post-body-copy h3 {
    font-size: 24px;
  }

  .post-hero-headline,
  .post-body-copy h1, .post-body-copy h2, .post-body-copy h3,
  .post-masthead .meta-top-a,
  .post-masthead .meta-top-b,
  .post-body-copy p,
  .post-body-copy ul,
  .post-word-char-count,
  .sc-journal-post .post-prev-next,
  .publish-date-day,
  .pg-link-list .post-header div {
    max-width: 688px;
    font-weight: 300;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    /* font-size: 1.125rem; */
  }
}