a {
  font-weight: 700;
  text-decoration: none;
}
a:link,
a:visited {
  color: rgba(71, 153, 226, 1.0);
  border-bottom: 2px solid transparent;
}
a:hover,
a:active {
  color: rgba(71, 153, 226, 1.0);

  border-bottom: 2px solid rgba(34, 40, 49, 1.0);
}
/* Indicates the current page in navigation menu. */
.menu-item-active {

}
