.dev_label_page_layout {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  background-color: black;
  z-index: 10;
}

.dev_label_section_layout {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  background-color: #000;
  z-index: 10;
}

/* NOTE Temporary code placementto be removed */
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
