<section class="footer-signup-form">
  <div class="footer-signup-form-content">

    <div class="newsletter-signup">

      <!-- Begin Mailchimp Signup Form -->
      <h3 class="headline headline-elevated">Join the Newsletter.</h3>
      <h3 class="subhead">I am currently on my 12th round of everydays. This year I'll be doing a render everyday using Cinema 4D.</h3>
      <div id="mc_embed_signup">
        <form action="https://dwaynecyrus.us15.list-manage.com/subscribe/post?u=ab5e85e2d61e919b649769123&amp;id=42c8909994" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_ab5e85e2d61e919b649769123_42c8909994" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>
        </form>
      </div>

    </div><!--End mc_embed_signup-->

  </div>
</section>
