
.countup {
  text-align: center;
  margin-bottom: 1rem;
}
.countup .timeel {
  display: inline-block;
  padding: 00px;
  background: transparent;
  margin: 0;
  color: rgba(29, 28, 28, 1.0);
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: none;
}
.countup span[class*="timeRef"] {
  border-radius: none;
  margin-left: 0;
  background: transparent;
  color: rgba(29, 28, 28, 1.0);
}

.timeRefSeconds,
.timeRefMinutes,
.timeRefHours,
.timeRefDays {
  display: none;
}
