ul.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto 4.6875rem auto;
  list-style-type: none;
  width: 260px;
}
ul.pagination li a {
text-decoration: none;
padding: 0 0.8rem;
font-size: 1rem;
}
