.social-icons {
  margin: 6rem 0 0 0;
}

.social-icons-gallery {
  margin: 0;
}

.social-icons-gallery h2 {
  text-align: center;
}

.social-icons ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-icons ul li {
  display: flex;
  justify-content: center;
  flex-basis: 25%;
  padding: 1rem;
}

.social-icons ul li svg {
  max-height: 2.5rem;
  fill: rgba(34, 40, 49, 1.0);
}

.social-icons p {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.social-icons p svg {
  width: 10%;
  max-height: 2.5rem;
  margin: 1rem;
}

.new-window {
  opacity: 0;
  display: inline-block;
  vertical-align: top;
}

.link-transition:hover .new-window {
  opacity: 1;
}

/* TODO FILL the social icon color with the official brand colors */