/* Responsive Styles iPad Pro 12" 1024x1366 ================================== */
@media screen and (min-width: 1024px) {

.local_aside_nav {
  display: flex;

flex-direction: column;

flex-wrap: nowrap;


padding-left: 0;

margin: 0;
align-items: flex-end;
justify-content: right;
list-style-type: none;
}
}
