


* {
  box-sizing:border-box;
}


body {
  margin: 0;
}

header {
  position: relative;
}

h1.hidden_page_title {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}






/* Global Main Aside Container ================================== */
.global_main_aside_container {
  position: relative;
  display: flex;
  flex-direction: row;
justify-content: center;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

/* Global Aside Left */
.global_aside_left {
  display: none;
  /* background-color: lightblue; */
}

/* Global Main */
.global_main {
  display: inline-block;
  /* padding: 0 1rem; */
  padding-top: 6rem;
}

/* Global Aside Right */
.global_aside_right {
  display: none;
}

/* Global Footer: Sticky Footer */
.global_body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}




/* Sticky Elements =================== */
.sticky_global_aside {
    /* width: 100%; */
  /* min-height: 100px; */
  /* background: red; */
}






/* Post Styles ================================== */
.article_container {
  /* padding: 0 1rem; */
    margin: 0 1rem;
}










/* TODO Add in the widths of popular device like the pixel, samsung, iphone, one plus, motorola? */
/* Responsive Styles
   ======================================================= */
@media screen and (min-width: 320px) {
  /* .global_aside_mini {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
  } */
}


@media screen and (min-width: 640px) {
  .global_main_aside_container {
    /* display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    justify-content: space-evenly; */
    padding: 0 32px;
  }
}


@media screen and (min-width: 768px) {

.global_main_aside_container {
  /* display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  justify-content: space-evenly; */
  padding: 0 48px;
}

}




@media screen and (min-width: 960px) {
  .global_main_aside_container  {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: auto;
    grid-column-gap: 36px;
    justify-content: center;
  }


  .global_main {
    grid-column: 2 / span 1;
    justify-self: center;

  }
  .global_aside_right {
    display: block;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    /* height: 500px; */
    min-height: 100%;
      padding-top: 6rem;
    /* background-color: black; */

  }
}


@media screen and (min-width: 1024px) {
  .global_main_aside_container  {
    grid-template-columns: 64px auto 64px;
    grid-column-gap: 2rem;
      padding: 0 48px;
  }
  .global_main {

    padding-top: 6rem;
  }
  .global_aside_right{
    padding-top: 6rem;
}
}
/* iPad 11" Landscape 1194x834 TODO You will need styles for the ipad specifically and then desktop, do this for other widths as well. */
@media screen and (min-width: 1194px) {
  .global_main_aside_container {
    grid-template-columns: 160px auto 160px;
    grid-column-gap: 2.5rem;
}
.global_aside_left {
  display: block;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  /* min-width: 216px; */
  min-height: 100%;
  padding-top: 6rem;
}
}


@media screen and (min-width: 1280px) {
  .global_main_aside_container {
    grid-template-columns: 192px auto 192px;
    grid-template-columns: 180px auto 180px;
    padding: 0 56px;
  }

}


@media screen and (min-width: 1366px) {
  .global_main_aside_container {
    /* grid-template-columns: 224px auto 224px; */
        /* grid-template-columns: 200px auto 200px; */
    grid-column-gap: 3rem;

  }

}

/* Responsive Styles 1440px =================== */
@media screen and (min-width: 1440px) {
  .global_main_aside_container  {
    justify-content: stretch;
    grid-template-columns: 180px auto auto;
    grid-column-gap: 4rem;
    max-width: 1440px;
padding: 0 64px;
    /* padding: 0 64px; */
/* grid-template-columns: 264px auto 264px; */
/* IDEA Maybe keep the 264px... */
/* IDEA Consider going down to 12-12.5rem width for the asides */
    /* grid-column-gap: 64px; */
    /* justify-content: start; */

  max-width: 1440px;
  }
}
.move {
  background-color: lightblue;
  width: 100%;
}
