/* Layout Identifiers ============================================ */




/* post Lists ================================== */
/* .post_list {
  list-style-type: none;
  padding: 0;
}
.post_list_item {
  margin: 0 0 4.6875rem 0;
} */

ul.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto 4.6875rem auto;
  list-style-type: none;
  width: 260px;
}
ul.pagination li a {
text-decoration: none;
padding: 0 0.8rem;
font-size: 1rem;
}

/* Navigation: Pagination ================================== */
ul.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto 4.6875rem auto;
  list-style-type: none;
  width: 260px;
}
ul.pagination li a {
text-decoration: none;
padding: 0 0.8rem;
font-size: 1rem;
}

/* Navigation: Previous/Next ================================== */
ul.prev_next {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 2rem;
max-width: 1024px;
padding: 0 1rem;
margin: 0 auto 4.6875rem auto;
/* font-size: 18px; */
list-style-type: none;
}
.previous {
justify-self: end;
text-align: right;
}

.previous span, .next span {
display: block;
font-size: 0.875em;
}









/* Navigation Links to fix TODO Need it? ================================== */
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;

}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666;
}

.active-nav-item {
  color: #333;
}



/* NOTE Global Padding Control */
.global_main {
  /* padding: 0 16px; */
}
@media screen and (min-width: 320px) {
.global_main{
/* padding: 0 20px; */
}
}



/* Responsive Styles 320px =================== */
@media screen and (min-width: 320px) {


}



/* Responsive Styles 512px =================== */
@media screen and (min-width: 512px) {

}


@media screen and (min-width: 768px) {}


@media screen and (min-width: 1024px) {}
