{{- define "label_page_layout" }}
<div class="label__page-layout">Page Layout: portfolio/list.html (alphabetical)</div>
{{- end }}

{{- define "main_page_specific" }}
{{/* <!-- TODO Clean all of this HTML and CSS up! --> */}}

<h1 class="hidden-page-title">{{ .Title }}</h1>

<main id="main" class="site_main > ">

  <h4>Portfolio Sorting Menu:</h4>
    <ul class="portfolio-sorting">
      {{ range where .Site.Pages "Params.portfolio_sort" "active" }}
      <li>
        <a href="{{ .Permalink }}">{{ .Params.portfolio_sort_name }}</a>
      </li>
    {{ end }}
    </ul>

<h4>Portfolio Filter Menu:</h4>
<ul class="portfolio-ordering">
  {{ range where .Site.Pages "Params.portfolio_ordering" "active" }}
  <li>
    <a href="{{ .Permalink }}">{{ .Params.portfolio_ordering_name }}</a>
  </li>
{{ end }}
</ul>




    {{ $disc := printf .Title }}
      <!-- Get all posts-->
      {{ $postsd := where .Site.Pages ".Params.portfolio_content_tier" "primary" }}
      <!-- (re)set the counter to 0 -->
      {{ $.Scratch.Set "tagCounter" 0 }}
      <!-- increment counter if post contains the current tag-->
      {{ range $postsd }}
        {{ if in .Params.portfolio_content_tier "primary" }}
          {{ $.Scratch.Add "tagCounter" 1 }}
        {{ end }}
      {{ end }}
      <h2>All projects<sup>{{ $.Scratch.Get "tagCounter" }}</sup></h2>


      <section class="portfolio-grid">
        <ul>
            {{ range where .Site.Pages.ByTitle ".Params.portfolio_content_tier" "primary" }}
                <li>
                    <!-- <a href="{ { .Permalink }}">{ { .Title }}<sup></sup></a> -->
                    {{ partial "portfolio_thumbnail" . }}
                </li>
            {{ end }}
        </ul>
      </section>




</main>
{{ end }}
